.employeesListRoot {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.lettersList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.lettersListItem {
    border: 1px solid whitesmoke;
    min-width: 170px;
    margin: 5px;
}

.usersList {
    display: flex;
    flex-direction: column;
    height: 400px;
    padding: 20px 0;
    overflow: auto;
}

.letter {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid whitesmoke;
}

.radioButton {
    display: flex;
    margin: 5px;
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
}

.employeeName {
    margin: 5px;
    text-align: left;
}

.checkedName {
    color: blue;
}

.spinnerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.listItem {
    margin: 5px 0;
}

.noData {
    text-align: center;
}