.root {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.lettersList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.lettersListItem {
    border: 1px solid whitesmoke;
    min-width: 170px;
    margin: 5px;
}

.usersList {
    display: flex;
    flex-direction: column;
    height: 400px;
    padding: 20px 0;
    overflow: auto;
}

.letter {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid whitesmoke;
}

.radioInput {
    display: flex;
    margin: 5px;
}

.inputsContainer {
    display: flex;
    flex-direction: column;
}

.employeeName {
    margin: 5px;
    text-align: left;
}

.checkedName {
    color: blue;
}