.app {
  display: flex;
  border-bottom: 1px solid whitesmoke;
}

.employeesList {
  flex-basis: 70%;
}

.employeesBirthday {
  border-left: 1px solid whitesmoke;
  flex-basis: 30%;
}

.appEmptyState {
  height: 95vh;
}



